p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-text {
  margin-bottom: 5px;
}

#write-email {
  padding-left: 5px;
  margin-bottom: 15px;
  width: 315px;
}

.bottom-text {
  margin-bottom: 15px;
}

#click-me {
  background-color: rgb(91, 91, 219);
  color: white;
  border-radius: 16px;
  width: 350px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
}
