.stretch-button {
  background-color: green;
  color: white;
  font-size: 12px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  transition: padding-top 1s, padding-bottom 1s, padding-right 1s,
    padding-left 1s;
}

.stretch-button:hover {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 22px;
  padding-left: 22px;
}
